/* Body */
body {
  background-color: #f7f2ef;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  max-width: 1200px;

  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: #474342;
}

.img img {
  width: 7.5vw;
  height: 5.5vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.menu a {
  text-decoration: none;
  color: #f7f2ef;
  text-transform: capitalize;
  font-weight: bold;
}

.menu a:hover {
  color: #ec1f26;
  text-decoration: underline;
}

.button_fale_conosco button {
  color: #f7f2ef;
  width: 7.5vw;
  height: 4vh;
  background-color: #ec1f26;
  text-transform: capitalize;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* Banner */
#slide-principal {
  height: calc(100vh - 80px);

}


.swiper#slide-parceiros {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 40px;
  z-index: 10;
  padding: 10px;
}

.swiper#slide-parceiros .swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
}

.swiper#slide-parceiros .swiper-wrapper img {
  width: 180px;
  height: 100px;
}


.swiper#slide-parceiros img {
  width: 8vw;
  margin: 0 25px;
}


.swiper {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

/* Quem somos */
.container_quemsomos {
  max-width: 1400px;
  margin: 10% auto 5%;
  display: flex;
  justify-content: center;
  align-items: start;
}


.setor_beneficio {
  column-count: 2;
}

.descricao_quemsomos {
  margin-left: 4.5%;
  margin-right: 4.5%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: red; */
}

.descricao_quemsomos h2 {
  color: #ec1f26;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/* Nossa historia */
.content {
  padding: 20px 0;
  /* background-color: blue; */
}

.content_left {
  padding: 20px 0;
}

.content_right {
  padding: 20px 0;
}

.content h1 {
  text-align: center;
  color: #ec1f26;
  font-size: 50px;
}

.content p {
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point_left {
  min-width: 20px;
  height: 20px;
  background-color: #474342;
  border-radius: 100%;
  z-index: 2;
  border: 3px #474342 solid;
  position: relative;
  right: 9px;
}

.point_right {
  min-width: 20px;
  height: 20px;
  background-color: #474342;
  border-radius: 100%;
  z-index: 2;
  border: 3px #474342 solid;
  position: relative;
  left: 11px;
}

@media (max-width: 800px) {
  .point {
    min-width: 15px;
    height: 15px;
  }

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 650px) {

  html,
  body {
    font-size: 14px;
  }

  .point {
    min-width: 12px;
    height: 12px;
  }
}

@media (max-width: 450px) {

  html,
  body {
    font-size: 10px;
  }

  p {
    padding: 10px !important;
  }
}

.timeline ul li .content_left {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li .content_right {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content_left {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .content_right {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content_left {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content_right {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content_left h3 {
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content_right h3 {
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content_left p {
  padding: 10px 20px;
  margin-top: 0;
  text-align: end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li .content_right p {
  padding: 10px 20px;
  margin-top: 0;
  text-align: start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #474342;
}


/* Serviços */

.services {
  position: relative;
}

.services h1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10px;
  font-size: 40px;
  color: red;
}

.services img {
  width: 100%;
  height: 700px;
}


.swiper#nossos-servicos {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}



/* Nossos Serviços */

.parceiros h1 {
  text-align: center;
  margin: 40px;
  font-size: 40px;
  color: red;
}

.nossos_parceiros {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  ;
  flex-wrap: wrap;


}

.nossos_parceiros img {
  margin: 40px;
  width: 180px;
  height: 100px;
}


/* Fale Conosco */


.fale_conosco {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
  background: url(./assets/images/fale_conosco.png) no-repeat center center;
  background-size: cover;
}

.contact-form {
  position: absolute;
  right: 90px;
  /* margin-right: 90px; */
  background-color: white;
  padding: 38px 142px 97px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 754px;
}

.contact-form h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.contact-form p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  
}

textarea {
  resize: none; /* Desativa o redimensionamento */
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #e60000;
}

/* footer */

footer {
  background-color: #3a3a3a;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  width: 200px;
  margin-bottom: 10px;
}

.logo-section p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
  font-size: 24px;
  color: white;
}




.navigation h4 {
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}


.navigation ul {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;


}

.address{
  margin: 20px;

}

.address h4 {
  margin-bottom: 35px;
  text-align: center;

}

.icone-addres{
  display: flex;
  gap: 10px;
}


.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
}