/* Body */
body {
  background-color: #f7f2ef;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  max-width: 1200px;

  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: #474342;
}

.img img {
  width: 7.5vw;
  height: 5.5vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.menu a {
  text-decoration: none;
  color: #f7f2ef;
  text-transform: capitalize;
  font-weight: bold;
}

.menu a:hover {
  color: #ec1f26;
  text-decoration: underline;
}

.button_fale_conosco button {
  color: #f7f2ef;
  width: 7.5vw;
  height: 4vh;
  background-color: #ec1f26;
  text-transform: capitalize;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* Banner */
#slide-principal{
  height: calc(100vh - 80px);

}


.swiper#slide-parceiros{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 40px;
  z-index: 10;
  padding: 10px;  
}

.swiper#slide-parceiros .swiper-wrapper{
  transition-timing-function: linear !important; 
  position: relative;  
}


.swiper#slide-parceiros img {
  width: 8vw;
  margin: 0 25px;
}


.swiper {
  width: 100%;
}

.swiper-slide img{
  width: 100%;
}

/* Quem somos */
.container_quemsomos {
  max-width: 1400px;
  margin: 10% auto 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.setor_beneficio {
    column-count: 2;
}

.descricao_quemsomos {
  margin-left: 4.5%;
  margin-right: 4.5%;
  height: 50vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: red; */
}

.descricao_quemsomos h2 {
  color: #ec1f26;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/* Nossa historia */
.content {
  padding: 20px 0;
  /* background-color: blue; */
}
.content_left {
  padding: 20px 0;
}

.content_right {
  padding: 20px 0;
}

.content h1 {
  text-align: center;
  color: #ec1f26;
  font-size: 50px;
}
.content p {
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point_left {
  min-width: 20px;
  height: 20px;
  background-color: #474342;
  border-radius: 100%;
  z-index: 2;
  border: 3px #474342 solid;
  position: relative;
  right: 9px;
}
.point_right {
  min-width: 20px;
  height: 20px;
  background-color: #474342;
  border-radius: 100%;
  z-index: 2;
  border: 3px #474342 solid;
  position: relative;
  left: 11px;
}

@media (max-width: 800px) {
  .point {
    min-width: 15px;
    height: 15px;
  }

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  html,
  body {
    font-size: 14px;
  }

  .point {
    min-width: 12px;
    height: 12px;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 10px;
  }

  p {
    padding: 10px !important;
  }
}

.timeline ul li .content_left {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li .content_right {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content_left {
  padding-left: 0;
}
.timeline ul li:nth-child(odd) .content_right {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content_left {
  padding-right: 0;
}
.timeline ul li:nth-child(even) .content_right {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li .content_left h3 {
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.timeline ul li .content_right h3 {
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li .content_left p {
  padding: 10px 20px;
  margin-top: 0;
  text-align: end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.timeline ul li .content_right p {
  padding: 10px 20px;
  margin-top: 0;
  text-align: start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #474342;
}


/* Serviços */

.services h1{
    text-align: center;
    margin: 10px auto;
    font-size: 40px;
    color: red;
}
.services img{
    width: 1920px;
    height: 550px;
    background-color: blue;
}

.type_services {
    max-width: 200px;
    max-height: 150px
}
