/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: #474342;
}


.img img{
    width: 7.5vw;
    height: 5.5vh;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.menu a{
    text-decoration: none;
    color: #F7F2EF;
    text-transform: capitalize;
    font-weight: bold;
}

.menu a:hover{
    color: #EC1F26;
    text-decoration: underline;
}

.button_fale_conosco button{
    color: #F7F2EF;
    width: 7.5vw;
    height: 5.5vh;
    background-color: #EC1F26;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    border-radius: 10%;
}