/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: #474342;
}

.img img{
    width: 5vw;
    height: 5vh;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.menu a{
    text-decoration: uppercase;
    color: #F7F2EF;
}